{% extends 'user/userbase.html' %}
{% load static %}

    {% block contents %}
            <!-- End banner Area -->
        <section class="generic-banner relative">
        	<div class="container">
        		<div class="row height align-items-center">
        			<div class="col-lg-10">
        				<div class="generic-banner-content">

							<div class="loginbox">
								<img src="{% static 'img/avatar.png' %} " class="avatar">
									<h1>Create Bucket</h1>
									<form method="post" action="{% url 'createbucket' %}">
										{% csrf_token %}
										<input type="text" name="username" value="{{request.session.loggeduser}}" readonly>
										<input type="text" name="email" value="{{request.session.email}}" readonly>
										<input type="text" name="bucket_name" required="True" placeholder="Enter the Bucket name">
										<input type="submit" name="create" value="Create">
									</form>
								<a href="{% url 'bucketlist' %}">Go to Buckets</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

			<!-- End banner Area -->
    {% endblock %}