{% extends 'user/userbase.html' %}
{% block contents%}
    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-start">
                <div class="banner-content col-lg-8 col-md-12">
                    <h1>Welcome!</h1>
                    <h2>Please Explore our services, <a href="{% url 'myfile' %}">Click Here</a></h2>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
{% endblock%}




